<h1>Welcome to <%=@user.username%>'s homepage!</h1>



<% @user.shoes.each do |s| %>
     <%=s.brand.company_name%> - <%=s.name%> 
      <br> <br>

      <%= link_to 'Shoe Page', shoe_path(s)%>
<%end%>

<% if !@user.shoes.present?  %>
  <strong> Sorry, you don't have any shoes yet!</strong>
  
  <%end%>
 

    <br><br><br>
