<head>

  <h1>All <%=@brand.company_name%> shoes</h1>


    <% @brand.shoes.each do |s|%>
   <p><%=s.name%><p>
    <%end%>

    <% if !@brand.shoes.present?  %>
      <strong> Sorry, you don't have any shoes yet!</strong>
  
  <%end%>
    