

  <h1>All <%=@brand.company_name%> shoes</h1>


    <% @brand.shoes.each do |s|%>
      <%=s.name%><br><br>
    <%end%>

    <% if !@brand.shoes.present?  %>
      <strong> Sorry, <%=@brand.company_name%> does not have any shoes yet!</strong>
  
  <%end%>
    <%= render 'layouts/styling' %>