<h1>Recently created single shoe</h1>

<h2><%=@shoe.name%></h2>

<%=@shoe.brand.company_name%>

<%= link_to "Edit shoe", edit_shoe_path(@shoe) %>
  <%= link_to "Delete shoe", shoe_path(@shoe), method: :delete  %>